@page
@model lab_47_personal_api_web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordLabel[0].RecordLabelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordLabel[0].FoundedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecordLabel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordLabelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecordLabelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecordLabelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecordLabelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
